<div class="form-container">
    <form [formGroup]="jobForm">
      <div>
        <label for="customerName">Customer Name</label>
        <input id="customerName" formControlName="customerName">
      </div>
  
      <div>
        <label for="jobType">Job Type</label>
        <input id="jobType" formControlName="jobType">
      </div>
      <div>
        <label for="jobStatus">Job Status</label>
        <input id="jobStatus" formControlName="jobStatus">
      </div>
      <div>
        <label for="appointmentDate">Appointment Date</label>
        <input id="appointmentDate" type="date" formControlName="appointmentDate">
      </div>
      <div>
        <label for="technician">Technician</label>
        <input id="technician" formControlName="technician">
      </div>
      <div class="button-container">
        <button type="submit" class="btn btn-update"(click)="confirmUpdate()">Update</button>
      </div>
    </form>
  </div> 
  <!-- <p-dialog header="Confirmation" [(visible)]="display" modal="modal">
    <header>
      <h3>Are you sure?</h3>
    </header>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="updateJob()" label="Yes"></button>
      <button type="button" pButton icon="pi pi-times" (click)="hideDialog()" label="No" class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog> -->